# -------------------------
# Virtual Environment
# -------------------------
venv/
env/
.venv/

# -------------------------
# Python cache
# -------------------------
__pycache__/
*.pyc
*.pyo

# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# OS / Editor files
# -------------------------
.DS_Store
Thumbs.db
.vscode/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Large / local data files
# -------------------------
*.csv
*.xlsx

# -------------------------
# Model cache (Hugging Face)
# -------------------------
.cache/
